@page "/devicedata"
@inject ILogger<Index> Logger
@inject IDeviceDataService DeviceDataService

<h3>DeviceData</h3>

@code {

    private CancellationTokenSource _cts = new CancellationTokenSource();

    protected override async Task OnInitializedAsync()
    {
        await DeviceDataService.StartAsync(_cts.Token);

        DeviceDataService.OnDataEvent += (s, e) =>
        {

        };
    }
}
