@page "/devicedata"
@inject IHubConnectionBuilder _hubConnectionBuilder
@using WebClient.Services
@inject IDeviceDataService _deviceDataService
 

<h3>DeviceData</h3>

@code {

    protected override async Task OnInitializedAsync()
    {

    }


    //async Task<byte[]> Get()
    //{
    //    HubConnection connection = _hubConnectionBuilder
    //        .WithUrl("http://localhost:5000/device-data")
    //        .Build();

    //    byte[] x = await _deviceDataService.GetDataAsync();
    //    return x;
    //}

}
