@page "/"
@inject ILogger<Index> Logger
@using Services
@inject IDeviceDataService DeviceDataService


@*@inject ILogger<Testing> testing
@inject ILogger<WebClient.Services.DeviceDataService> dds
@inject IHubConnectionBuilder hcb*@

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    protected override async Task OnInitializedAsync()
    {

    }
}